/* CSS for admin interface only */
.wysiwyg-blocks-embed {
    background-color: #fff;
    border: 2px solid #999;
    cursor: default;
    display: none;
    position: absolute;
    padding: 10px;
    z-index: 200;
}

.wysiwyg-blocks-embed h2 {
    text-align: center;
    font-size: 18px;
    padding: 5px 0;
}

.wysiwyg-blocks-embed .form-textfield-wrapper {
    padding-bottom: 20px;
}

.wysiwyg-blocks-embed .form-textfield-wrapper li {
    padding-top: 5px;
}
